body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Contact Form */
#contact {
  padding: 10px;
  background-color: #0abcf9;
  background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
  color: white;
  padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
  color: white;
}

#contact-form {
  margin-left: 20%;
}

#contact-container {
  display: flex;
}

#my-details-container {
  width: 35%;
  margin-left: 6%;
}

#my-details-container h3 {
  margin-bottom: 15px;
  color: white;
  font-weight: 550;
  font-size: 1.4rem;
}

#contact-form-container {
  width: 50%;
  height: 74vh;
}

#my-details-container p {
  color: #d9dcdd;
  font-size: 1rem;
  margin-bottom: 15px;
}

.my-details-info-container {
  margin-bottom: 20px;
  color: #d9dcdd;
  font-size: 1rem;
}

.my-details-info-container span {
  margin-left: 0.4rem;
}

.my-details-info-container i {
  color: white;
}

.my-details-icon {
  width: 1rem;
  height: 1rem;
  vertical-align: bottom;
  margin-right: 0.5rem;
}

#contact-form input,
textarea {
  max-width: 90%;
  margin: 15px;
  padding: 4px 10px;
  border: 0px solid transparent;
  border-bottom: 2px solid white;
  color: #d9dcdd;
  background: transparent;
  width: 90%;
  line-height: 1.6;
  font-size: 1.05rem;
}

#contact-form button[type="submit"] {
  background: transparent;
  font-size: 0.95rem;
  border: 2px solid white;
  margin-top: 5%;
  margin-left: 35%;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.8em 0.8em 0.78em;
  text-transform: uppercase;
}

#contact-form button:hover {
  background: white;
  color: #13386fe0;
}
/* Common Margin Classes */

.m0 {
  margin: 0;
}

.mb75px {
  margin-bottom: 75px;
}

.mb50px {
  margin-bottom: 50px;
}
/*common color classes */

.text-highlight {
  color: #2857a4;
  font-weight: 600;
}
/*Percentage Classes */

.eighty-five-percent {
  height: inherit;
  width: 85%;
}

.eighty-percent {
  height: inherit;
  width: 80%;
}

.fifty-percent {
  height: inherit;
  width: 50%;
}
