@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  background-color: darkgrey;
}

h1 {
  text-align: center;
  margin: 200px auto;
  color: black;
  font-family: "Anton", sans-serif;
}
